@import url(fonts/style.css);
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    #321f1f 3%,
    #633e3e 22%,
    #694646 43%,
    #704f4f 82%,
    #efe33a 100%
  );
  animation: gradient 7.5s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  position: fixed;
  border-radius: 1000% 1000% 100% 100%;
  width: 100%;
  height: 12em;
  animation: wave 14s -2s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0%;
  z-index: -1;
  background-color: #f7f7f795;
}

.wave:nth-of-type(2) {
  animation: wave 20s linear reverse infinite;
  animation-delay: -2s;
  bottom: -7.5%;
  opacity: 0.8;
  background-color: #f9fbfcb0;
}

.wave:nth-of-type(3) {
  animation: wave 18s reverse infinite;
  animation-delay: -6s;
  bottom: -5%;
  opacity: 0.5;
  background-color: #f6f8f8a6;
}
@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-15%);
  }

  50% {
    transform: translateX(-45%);
  }

  75% {
    transform: translateX(-15%);
  }

  100% {
    transform: translateX(1);
  }
}

img#wiss_logo {
  float: left;
}
div.into ul.open {
  float: left;
}

div.into ul.open li.navs {
  text-align: center;
}

div.into ul.open li.navs a {
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
  border-radius: 15px;
  text-decoration-line: none;
  color: #0a2647;
  font-family: "Karasha";
}
div.into ul.open li.navs a:hover {
  color: #082546;
  font-size: 2.5rem;
  background-color: #ae3c1fc4;
}
div.cainfo {
  text-align: center;
}
div.ca {
  font-family: "Exo Bold Italic";
  color: #f2542d;
}
div.content {
  float: left;
  width: 100vw;
}
div.wiss {
  color: #181823;
  font-family: "Milk";
}

a.signup {
  text-decoration: none;
}
button.apply {
  color: #0a2647;
  width: 100vw;
  background-color: #ce5d12;
  border-radius: 100px;
  border: none;
  margin-top: 1rem;
  font-family: "Space Armour";
  text-decoration: none;
}

button#apply :hover {
  width: 85vw;
  font-size: 2.75rem;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

a.login {
  text-align: center;
}

#aboutus {
  background-color: #51333387;
  margin-top: 10rem;
}

#Respons {
  background-color: #1d5c6387;
}

div.con {
  background: radial-gradient(#0a2647 20%, #0f3868 40%, #082546 100%);
  border-radius: 50px;
  float: left;
  font-size: 1.4rem;
  color: #c7afff;
  height: 22.5rem;
}

div.carrier {
  font-family: "Exo Bold Italic";
  align-self: center;
  float: left;
  width: 100vw;
  padding-bottom: 6rem;
  text-align: center;
  align-items: center;
}

img#promote {
  margin-bottom: 1rem;
}

img#serve {
  width: 7rem;
  height: auto;
}

div.information {
  color: #c7afff;
  font-size: large;
  padding-left: 10vw;
  width: 80vw;
}

@media screen and (min-width: 1063px) {
  div.into ul.open li.navs a {
    width: 17rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 1160px) {
  div.into ul.open li.navs a {
    width: 100vw;
    font-size: 2.5vw;
  }
  div.wiss {
    font-size: 3.5rem;
  }
}
@media screen and (min-width:1250px){
  div.into ul.open li.navs a{
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 980px) {
  img.gif {
    height: 10rem;
  }
  div.con {
    margin-left: 8.5rem;
    margin-bottom: 2.5rem;
    width: 32.5vw;
  }
  div.headings {
    font-size: 6rem;
  }
  button.apply {
    font-size: 3rem;
    height: max-content;
    width: 30rem;
    margin-left: 30vw;
    margin-top: 7rem;
  }
  div.content {
    display: flex;
  }
  img#ca {
    height: 13.5rem;
    width: 30rem;
  }
  div.cainfo {
    width: 45vw;
  }
  button.btn {
    display: none;
  }
  img#wiss_logo {
    padding-left: 8vw;
    padding-top: 1rem;
    height: 5.5rem;
    width: auto;
  }
  div.into ul.open li.navs a {
    margin: 1.8rem;
    align-self: center;
  }
  div.into ul.open {
    display: flex;
    padding-top: 2rem;
    padding-left: 25vw;
    list-style: none;
  }
  #info {
    float: right;
    position: absolute;
    display: block;
  }
  div.content {
    padding-top: 9rem;
  }
  div.ca {
    font-size: 3rem;
  }
  div.wiss {
    font-size: 4rem;
  }
}

@media screen and (max-width: 980px) {
  div#Respons {
    display: flex;
    flex-direction: column;
  }
  div.con {
    width: 50vw;
    margin-bottom: 5rem;
  }
  div.headings {
    font-size: 5rem;
  }
  div.wiss {
    font-size: 5rem;
  }
  img#ca {
    margin-bottom: 4rem;
    margin-top: 4rem;
    margin-left: 20vw;
    height: 32.4vw;
    width: 60vw;
  }
  div.ca {
    font-size: 2.5rem;
  }
  div.wiss {
    font-size: 4rem;
  }
  button.apply {
    font-size: 3rem;
    height: 7rem;
  }
  button.btn {
    position: sticky;
    align-self: center;
    margin: 1.5vw;
    max-height: 7vh;
    width: 7.5vw;
    height: 7.5vw;
    color: rgb(220, 12, 12);
    float: right;
  }
  img#wiss_logo {
    padding-left: 10vw;
    height: 3.75rem;
    width: auto;
  }
  div.into ul.open li.navs a {
    align-self: center;
    font-size: 2rem;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }
  div.into ul.open {
    list-style: none;
    width: inherit;
    height: 9rem;
    text-align: center;
  }
  div.into {
    padding-top: 4rem;
  }
  div.content {
    font-size: 2.5rem;
    padding-top: 4rem;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }
  button.btn:checked ~ div.content {
    padding-top: 13rem;
  }
}
