@import url(fonts/style.css);
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgb(87, 49, 23) 22%,
    rgb(97, 63, 35) 43%,
    rgb(117, 90, 59) 62%,
    rgb(158, 145, 108) 81%,
    rgb(240, 255, 206) 100%
  );
  animation: gradient 7.5s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  position: fixed;
  border-radius: 1000% 1000% 100% 100%;
  width: 200%;
  height: 17em;
  animation: wave 14s -2s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.3;
  bottom: 0%;
  z-index: -1;
  background-color:black;
}

.wave:nth-of-type(2) {
  animation: wave 20s linear reverse infinite;
  animation-delay: -12s;
  height: 17rem;
  bottom: -2.5%;
  opacity: 0.5;
  background-color: black;
}

.wave:nth-of-type(3) {
  animation: wave 18s reverse infinite;
  animation-delay: -8s;
  bottom: 2%;
  height: 17rem;
  opacity: 0.4;
  background-color: black;
}
@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-15%);
  }

  50% {
    transform: translateX(-45%);
  }

  75% {
    transform: translateX(-15%);
  }

  100% {
    transform: translateX(1);
  }
}

img#wiss_logo {
  float: left;
}
div.into ul.open {
  float: left;
}

div.into ul.open li.navs {
  text-align: center;
}

div.into ul.open li.navs a {
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
  border-radius: 15px;
  text-decoration-line: none;
  color: rgba(18, 46, 67,1);
  font-family: "Karasha";
}
div.into ul.open li.navs a:hover {
  font-size: 2.5rem;
  background-color: chocolate;
}

div.cainfo {
  text-align: center;
}
div.ca {
  font-family: "Exo SemiBold Italic";
  color: #f2542d;
}
div.content {
  float: left;
  width: 100vw;
}
div.wiss {
  color: rgb(25, 12, 26);
  font-family:  'Gradia Light Light';
}

button#apply {
  color: rgba(10, 38, 71,1);
  width: 100vw;
  border: none;
  background-color: transparent;
  margin-top: 1rem;
  font-family: "Space Armour";
}

button#apply :hover {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  font-size: 2.75rem;
}

p{
  background-color: #ce5d12;
  text-align: center;
  border-radius: 100px;
}

a.signup{
  text-decoration: none;
  color:  rgba(10, 38, 71,1);
}


#aboutus {
  background-color: rgba(81, 51, 51,0.3);
  margin-top: 10rem;
}

#Respons {
  background-color: rgba(29, 92, 99,0.5);
}

div.con {
  background: radial-gradient(rgba(10, 38, 71,0.7) 20%, rgba(15, 56, 104,0.7) 40%, rgba(8, 37, 70,0.7) 100%);
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  border-radius: 25px 100px;
  font-size: 1.4rem;
  color: #c7afff;
  height: 22.5rem;
  float: left;
}

div.con:hover{
  scale: 1.05;
}

div#rev{
  height: 23.5rem;
  background: linear-gradient(
    30deg,
    rgba(104, 15, 15,0.85) 20%,
    rgba(87, 11.5, 11.5,0.85) 40%,
    rgba(70, 8, 8,0.85) 100%
  );
  border-radius: 100px 12.5px;
}

#contact {
  background-color: rgba(40, 82, 72, 0.5);
}

div.contact {
  font-size: 5rem;
  color: rgb(44, 39, 98);
}

div.details {
  font-size: 3rem;
  color: #000;
}

div.carrier {
  font-family:"Exo SemiBold Italic";
  align-self: center;
  float: left;
  width: 100vw;
  padding-bottom: 6rem;
  text-align: center;
  align-content: center;
}

img#promote {
  margin-bottom: 1rem;
}

img#serve {
  width: 7rem;
  height: auto;
}

div.information {
  color: #c7afff;
  font-size: 20px;
  padding-left: 10vw;
  width: 80vw;
}

#links{
  background-color: rgba(50, 50, 54, 0.5);
}

ul.links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}
ul.links li {
  margin-right: 4rem;
}

div.carrier h1 {
  color: rgb(168, 128, 7);
}

div.carrier h1#wiss_web{
  color: rgb(254, 191, 3);

}

#wissenaire_web{
  color: #ff0404;
  text-decoration: none;
}

span.fa-facebook {
  color: rgb(40, 85, 182);
  font-size: 90px;
}

span.fa-linkedin-in {
  color: rgb(30, 48, 80);
  font-size: 90px;
}

span.fa-twitter{
  color: rgb(0, 172, 238);
  font-size: 90px;
}

span.fa-instagram {
  color: rgb(195, 11, 85);
  font-size: 100px;
}


@media screen and (min-width: 1063px) {
  div.into ul.open li.navs a {
    width: 17rem;
    font-size: 2rem;
  }
}

@media screen and (max-width: 1160px) {
  div.into ul.open li.navs a {
    width: 100vw;
    font-size: 2.5vw;
  }
  div.wiss {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1250px) {
  div.into ul.open li.navs a {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 980px) {
  img.gif {
    height: 10rem;
  }
  img.gifd {
    height: 13rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
  }
  div.con {
    margin-left: 15vw;
    margin-bottom: 2.5rem;
    width: 27.5vw;
  }
  div.headings {
    font-size: 4rem;
  }
  button.apply {
    font-size: 3rem;
    height: max-content;
    margin-top: 5rem;
  }
  p{
    margin-left: 20vw;
    width: 60vw;
    height: 5rem;
  }
  div.content {
    display: flex;
  }
  img#ca {
    height: 15rem;
    width: 30rem;
  }
  div.cainfo {
    width: 45vw;
  }
  button.btn {
    display: none;
  }
  img#wiss_logo {
    padding-left: 8vw;
    padding-top: 1rem;
    height: 5.5rem;
    width: auto;
  }
  div.into ul.open li.navs a {
    margin: 1.8rem;
    align-self: center;
  }
  div.into ul.open {
    display: flex;
    padding-top: 2rem;
    padding-left: 25vw;
    list-style: none;
  }
  #info {
    float: right;
    position: absolute;
    display: block;
  }
  div.content {
    padding-top: 9rem;
  }
  div.ca {
    font-size: 3rem;
  }
  div.wiss {
    font-size: 4rem;
  }
  #contacts{
    font-size: 4rem;
  }
}

@media screen and (max-width: 980px) {
  div#Respons {
    display: flex;
    flex-direction: column;
  }
  div.con {
    width: 55vw;
    margin-left: 17.5vw;
    margin-bottom: 5rem;
  }
  div.headings {
    font-size: 5rem;
  }
  img#ca {
    margin-bottom: 4rem;
    margin-top: 4rem;
    margin-left: 20vw;
    height: 32.4vw;
    width: 60vw;
  }
  div.ca {
    font-size: 2.5rem;
  }
  div.wiss {
    font-size: 4rem;
  }
  button.apply {
    font-size: 3rem;
    height: 7rem;
  }
  button.btn {
    position: sticky;
    align-self: center;
    margin: 1.5vw;
    max-height: 7vh;
    width: 7.5vw;
    height: 7.5vw;
    color: rgb(220, 12, 12);
    float: right;
  }
  p{
    margin-left: 4.5vw;
    width: 90vw;
    height: 5rem;
  }
  img#wiss_logo {
    padding-left: 10vw;
    height: 3.75rem;
    width: auto;
  }
  div.into ul.open li.navs a {
    align-self: center;
    font-size: 2rem;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }
  div.into ul.open {
    list-style: none;
    width: inherit;
    height: 9rem;
    text-align: center;
  }
  div.into {
    padding-top: 4rem;
  }
  div.content {
    font-size: 2.5rem;
    padding-top: 4rem;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }
  button.btn:checked ~ div.content {
    padding-top: 13rem;
  }
  img.gif {
    height: 10rem;
  }
  img.gifd {
    height: 14rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #contacts{
    font-size: 3rem;
  }
}
