@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 768px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .container {
    width: 100%;
  }
}

@media screen and (max-width: 999px) {
  div.con {
    width: 50%;
    margin: 7% 25%;
  }
  input {
    width: 80vw;
  }
  div#info{
    border-top: 10rem;
  }
  div#info ul.open {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }

  div.into ul.open li.navs a {
    align-self: center;
    font-size: 160%;
    width: 50%;
    margin-left: 25%;
  }
  div#content {
    display: flex;
    flex-direction: column;
  }
  img#ca {
    width: 60%;
    height: auto;
    margin: 15.5% 20%;
  }
  div.cainfo {
    width: 60%;
    margin: 17% 20%;
    font-size: 4rem;
  }
}

@media screen and (min-width: 1000px) {
  div#content {
    display: flex;
  }
  p{
    width: 70%;
  }
  img#ca {
    width: 40%;
    height: auto;
    margin: 7% 7.5%;
  }
  div.cainfo {
    width: 30%;
    margin: 7% 7.5%;
    font-size: 3rem;
  }
  button.btn {
    display: none;
  }
  div#info {
    display: block;
    float: right;
  }
  div#info ul.open {
    float: left;
    display: flex;
    flex-direction: row;
    font-size: 135%;
  }
  div.con {
    width: 30%;
    margin: 7% 10%;
  }
  input {
    width: 50vw;
  }
}
