@font-face {
  font-family: 'Gradia Light Light';
  font-style: normal;
  font-weight: normal;
  src: local('Gradia Light Light'), url('GradiaLight-K76zW.woff') format('woff');
  }

@font-face {
  font-family: "Karasha";
  src: url("Karasha-z8mYw.otf");
}

@font-face {
  font-family: "Space Armour";
  src: url("SpaceArmor-vmlv4.otf");
}

@font-face {
  font-family: "Exo SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Exo SemiBold Italic"),
    url("Exo-SemiBoldItalic.woff") format("woff");
}